.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.gallery li {
  flex: 1 1 calc(33.33% - 16px);
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
